
<!-- templates/admin/dashboard.html -->
{% extends "admin/base.html" %}

{% block title%}
    <title>Admin</title>
{% endblock title%}
{% block content %}

<div class="row mb-4">
    <div class="col-6 col-md-3 mb-1">
        <div class="card">
            <div class="card-body">
                <h6>Participants</h6>
                <h3>{{ participants | length }}</h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-1">
        <div class="card">
            <div class="card-body">
                <h6>Coaches</h6>
                <h3>{{ coaches | length }}</h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-1">
        <div class="card">
            <div class="card-body">
                <h6>Sports</h6>
                <h3>{{ sports | length }}</h3>
            </div>
        </div>
    </div>
</div>

<h5>All Users</h5>
<input type="text" id="searchInput" placeholder="Search by name..." onkeyup="searchTable()">
<div class="table-responsive">
    <table class="table table-bordered" id="approvalTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>{{user.name | capitalize}}</td>
                        <td>{{user.role.value | capitalize}}</td>
                        <td>
                            <span class="badge
                            {% if user.status.value == 'active' %} bg-success
                            {% elif user.status.value == 'pending' %} bg-warning
                            {% endif %}">
                            {{user.status.value | upper}}
                            </span>
                        </td>
                        <td>
                            {% if user.status.value == 'pending'%}
                                <form action="{{ url_for('admin.approve', user_id=user.id) }}" method="POST" style="display:inline;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        Approve {{ user.id }}
                                    </button>
                                </form>
                                <form action="{{ url_for('admin.reject_user', user_id=user.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-secondary btn-sm">
                                        Reject {{ user.id }}
                                    </button>
                                </form>
                            {% else %}
                                <button class="btn btn-outline-success btn-sm" disabled>
                                    Approved
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
<script>
    function searchTable() {
        let input = document.getElementById("searchInput");
        let filter = input.value.toLowerCase();
        let table = document.getElementById("approvalTable");
        let tr = table.getElementsByTagName("tr");

        for (let i = 1; i < tr.length; i++) {
            let td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                let textValue = td.textContent || td.innerText;

                if (textValue.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}