<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1 class="m-1">Welcome, Admin</h1>

    <button class="btn btn-primary m-1 shadow-none" id="pcbtn" onclick="loadPendingCoachRequests()">Pending Coach Requests</button>
    <div id="coach-results"></div>

</body>

    <script>
        async function loadPendingCoachRequests() {
            try {
                const response = await fetch("{{ url_for('admin.get_pending_coach_requests')}}");
                const data = await response.json();
                // console.log(data);
                if (data.length == 0) {
                    alert("No pending requests available");
                }
                else {
                    const container = document.getElementById("coach-results")
                    container.innerHTML = "";
                    container.classList.add("m-1")
                    data.forEach(coach => {
                        const card = document.createElement("div");
                        card.classList.add("coach-card");

                        const name = document.createElement("h3");
                        name.textContent = coach.name;

                        status = coach.status;
                        const info = document.createElement("p");
                        info.style.display = "inline";
                        info.textContent = `${coach.sport} | ${coach.status.toUpperCase()}`;

                        const approve = document.createElement("a");
                        approve.setAttribute("href", "#");
                        approve.classList.add("btn", "btn-success", "ms-2", "btn-sm")
                        approve.textContent = "Approve";

                        const reject = document.createElement("a");
                        reject.setAttribute("href", "#");
                        reject.classList.add("btn", "btn-danger", "ms-2", "btn-sm")
                        reject.textContent = "Reject";
                        card.appendChild(name);
                        card.appendChild(info);
                        card.appendChild(approve);
                        card.appendChild(reject);
                        container.appendChild(card);
                    });
                }
            }
            catch(error) {
                console.error(error);
                alert("An error occurred");
            }
        }
    </script>

</html> -->




<!-- templates/admin/dashboard.html -->
{% extends "admin/base.html" %}

{% block title%}
    <title>Admin</title>
{% endblock title%}
{% block content %}

<div class="row mb-4">
    <div class="col-6 col-md-3 mb-1">
        <div class="card">
            <div class="card-body">
                <h6>Participants</h6>
                <h3>{{ participants | length }}</h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-1">
        <div class="card">
            <div class="card-body">
                <h6>Coaches</h6>
                <h3>{{ coaches | length }}</h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3 mb-1">
        <div class="card">
            <div class="card-body">
                <h6>Sports</h6>
                <h3>{{ sports | length }}</h3>
            </div>
        </div>
    </div>
</div>

<h5>Recent User Registrations</h5>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
                {% for user in users | reverse %}
                    <tr>
                        <td>{{user.name | capitalize}}</td>
                        <td>{{user.role.value | capitalize}}</td>
                        <td>
                            <span class="badge
                            {% if user.status.value == 'active' %} bg-success
                            {% elif user.status.value == 'pending' %} bg-warning
                            {% endif %}">
                            {{user.status.value | upper}}
                            </span></td>
                        <td>
                            {% if user.status.value == 'pending'%}
                                <form action="{{ url_for('admin.approve', user_id=user.id) }}" method="POST" style="display:inline;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        Approve {{ user.id }}
                                    </button>
                                </form>
                                <form action="{{ url_for('admin.reject_user', user_id=user.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-secondary btn-sm">
                                        Reject {{ user.id }}
                                    </button>
                                </form>
                            {% else %}
                                <button class="btn btn-outline-success btn-sm" disabled>
                                    Approved
                                </button>
                            {% endif %}
                            
                            <!-- <a href="{{url_for('admin.approve', user_id=user.id)}}" class="btn btn-primary btn-sm">Approve {{user.id}}</a> -->
                            <!-- <a href="{{url_for('admin.reject_user')}}" class="btn btn-secondary btn-sm">Reject {{user.id}}</a> -->

                            <!-- <button class="btn btn-primary btn-sm">Approve {{user.id}} </button> -->
                            <!-- <button class="btn btn-secondary btn-sm">Reject {{user.id}}</button> -->
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}