{% extends 'participant/base.html' %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block content %}
    <h6>Your registerd sports: </h6>
    <ul>
        {% for sport in sports %}
        <li>{{sport.sport.name}} - 
            <span class="badge {% if sport.status == 'active' %} bg-success 
            {% elif sport.status == 'pending' %} bg-warning 
            {% endif %}">{{ sport.status | capitalize }}</span> | 
            {% if sport.status == 'active' %}
                You can participate in activities for this sport.
            {% else %}
                You can't participate in activities for this sport before coach approval.
            {% endif %}
            
        </li>
        {% endfor %}
    </ul>
    <h6>Your teams: </h6>
    {% if current_user.participant.teams %}
    <ul>
        {% for tp in current_user.participant.teams %}
            <li class="mb-1">{{tp.team.name}} - {{ tp.team.sport.name }} - 
                <form method="post" action="{{url_for('participant.team_members', team_id=tp.team.id)}}" style="display: inline;">
                    <input type="hidden" name="csrf_token" value={{csrf_token()}}>
                    <button>View Team Members</button>

                </form>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- <div>{{ current_user.participant.teams }}</div> -->
{% endblock %}
