{% extends 'participant/base.html' %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block content %}
{%with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <h6>Your registerd sports: </h6>
    <ul>
        {% for sport in sports %}
        <li>{{sport.sport.name}} - 
            <span class="badge {% if sport.status == 'active' %} bg-success 
            {% elif sport.status == 'pending' %} bg-warning 
            {% endif %}">{{ sport.status | capitalize }}</span> | 
            {% if sport.status == 'active' %}
                You can participate in activities for this sport.
            {% else %}
                You can't participate in activities for this sport before coach approval.
            {% endif %}
            
        </li>
        {% endfor %}
    </ul>
{% endblock %}
